# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Text Backup Files #
*.s[a-w][a-z]
*~
\#*\#
.\#*

# OS X Files #
.DS_Store
._*
.Spotlight*
.Trashes

# Windows Files #
Thumbs.db
ehthumbs.db

a.out
*.pyc
