body
{
	background-color: #000;
	color: #0e0;
	font-family: 'Ubuntu Mono', sans-serif;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
form
{
	margin-top: 40px;
}
input
{
	width: 200px;
	height: 18px;
	border: solid 1px #FF9900;
}
input:focus
{
	border: solid 1px #0e0;
	outline: 0;
}

/* flag.png */